:root{
    font-family: 'Poppins', sans-serif;
    text-decoration: darkgoldenrod;
    text-size-adjust: auto;
    color: darkgoldenrod;
    background-image: url(https://images.unsplash.com/photo-1634245482259-edd9f5786050?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-attachment: fixed;
  }
  /* body { 
      color: black;
     
      padding: 0;
    }

  main{
      margin-left: 5rem;
  }
body::-webkit-scrollbar{
    width: .25rem;
    padding: 1rem;
}
.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background: -webkit-linear-gradient(#888886c0,#575656, #181718fa);
    transition: width 200ms ease;
}
.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item{
    width: 100%;
}
.nav-item:last-child{
    margin-top: auto;
}
.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}
.link-text{
    display: none;
    margin-left: 1rem;
}
.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}
.navbar:hover{
    width: 16rem;
}
.navbar:hover .link-text{
    display: block;
}
.fa-primary{
    color: #ff7eee;
}
.fa-secondary{
    color: #df49a6;
}
.fa-primary, .fa-secondary{
    transition: var(--transition-speed);
}*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background:-webkit-linear-gradient(#fffffffd,#000000, #faf5f5cb) ;
    font-family: 'Poppins',sans-serif;
    border-top: 5px;
    border-bottom: 10px;
    border-radius: 50px;
}
.logo{
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content:space-around ;
    width: 30%;
    
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3px;
}
.mobile{
    display: none;
    cursor: pointer;
}
.mobile div{
    width: 25px;
    height: 3px;
    background-color:white ;
    margin: 5px;

}
@media screen and (max-width: 1629px){
    h1{
        font-size: 90px;
        font-weight:1000 ;
        top: 35%;
        left: 48%;
        
    }
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width: 768px) {
    body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right:0px;
        height: 92vh;
        top: 8vh;
        background:-webkit-linear-gradient(#050505fd, #faf5f5cb) ;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity:0;
    }
    .mobile{
        display: block;
    }
    .nav-links a{
        font-size: 25px;
        letter-spacing: 2px;
    }
}
.nav-active{
        transform: translateX(0%);
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
toggle.line1{
    transform: rotate(-45deg) translate(-5px,6px) ;
}
toggle.line2{ 
    opacity: 0;
}
toggle.line3{
    transform: rotate(45deg) translate(-5px,-6px);    
}